In [1]:
import time
import requests
import json
import pandas as pd
import yfinance as yf

Download bulk data from binance (if needed)

In [ ]:
# Use free 'ProtonVPN' if IP not outside USA (required for binance API). 
# ****DO NOT RUN UNLESS YOU WANT TO DOWNLOAD NEW DATA****

interval = '5m'
symbol = 'ETHUSDT'
limit = 1000
# number of: (months * days * hours * minutes * seconds) * miliseconds. Right now this is 30 months of data.
start_time = int((time.time() - 30 * 30 * 24 * 60 * 60) * 1000)
candle_data = []

while True:
    url = f'https://api.binance.com/api/v3/klines?symbol={symbol}&interval={interval}&limit={limit}&startTime={start_time}'
    request = requests.get(url)
    data = request.json()

    if len(data) == 0:  
        break

    candle_data += data
    start_time = data[-1][0] + 1
    time.sleep(0.1)

with open(f'{symbol}.json', 'w') as f:
    json.dump(candle_data, f)

df = pd.DataFrame(candle_data, columns=['Open time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close time', 'Quote asset volume', 'Number of trades', 'Taker buy base', 'Taker buy quote', 'Ignore'])
df['Open time'] = pd.to_datetime(df['Open time'], unit='ms')
df['Close time'] = pd.to_datetime(df['Close time'], unit='ms')
df.to_csv(f'{symbol}.csv', index=False)

SP500 benchmark download (daily)

In [8]:
sp500_df = yf.download("^GSPC", start="2013-06-18", end="2023-06-18")
sp500_df.reset_index(inplace=True)
sp500_df.columns = sp500_df.columns.str.lower()
sp500_df = sp500_df.drop('adj close', axis=1)
sp500_df.to_csv('data/sp500_df.csv', index=False)
sp500_df.head()

[*********************100%***********************]  1 of 1 completed

        date         open         high          low        close      volume
0 2013-06-18  1639.770020  1654.189941  1639.770020  1651.810059  3120980000
1 2013-06-19  1651.829956  1652.449951  1628.910034  1628.930054  3545060000
2 2013-06-20  1624.619995  1624.619995  1584.319946  1588.189941  4858850000
3 2013-06-21  1588.619995  1599.189941  1577.699951  1592.430054  5797280000
4 2013-06-24  1588.770020  1588.770020  1560.329956  1573.089966  4733660000